<html>
<head>
  <meta name="description" content="Google COS build information">
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <div class="navbar">
    <p class="navbar-title">Container Optimized OS</p>
  </div>
  <div class="sidenav">
    {{if (eq .ActivePage "home")}}
      <a class="active" href="/">Home</a>
    {{else}}
      <a href="/">Home</a>
    {{end}}
    {{if (eq .ActivePage "changelog")}}
      <a class="active" href="/changelog/">Changelog</a>
    {{else}}
      <a href="/changelog/">Changelog</a>
    {{end}}
    {{if (eq .ActivePage "locateCl")}}
      <a class="active" href="/locatecl/">Locate CL</a>
    {{else}}
      <a href="/locatecl/">Locate CL</a>
    {{end}}
    <a href="/login/">Login</a>
  </div>
  <div class="main">
    <h1>{{ .Header }}</h1>
    <p>{{ .Body }}</a>
    </p>
  </div>
</body>

</html>