<html>
<head>
  <title>COS Home</title>
  <meta name="description" content="Container-Optimized OS">
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <div class="navbar">
    <p class="navbar-title">Container Optimized OS</p>
    {{if .SignedIn}}
      <a class="signout" href="/signout/">Sign Out</a>
    {{else}}
      <a class="login" href="/login/">Login</a>
    {{end}}
  </div>
  <div class="sidenav">
    <a class="active" href="/">Home</a>
    <a href="/changelog/">Changelog</a>
    <a href="/findbuild/">Find Build</a>
    <a href="/findreleasedbuildv2/">Find Released Build</a>
    <a href="/readme/">Readme</a>
  </div>
  <div class="main">
    <div class="text-content">
      <h1>Container-Optimized OS</h1>
      <h2>A small, secure, stand alone VM image for building on top of Google
        Cloud</h2>
      <p>Container-Optimized OS is an operating system image for your Compute
        Engine VMs that is optimized for running Docker containers. With
        Container-Optimized OS, you can bring up your Docker containers on
        Google Cloud Platform quickly, efficiently, and securely.
        Container-Optimized OS is maintained by Google and is based on the open
        source Chromium OS project.</p>
    </div>
  </div>
</body>
</html>
