<html>
<head>
  <meta name="description" content="Google COS build changelog">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/changelog.css">
</head>
<body>
  <div class="navbar">
    <p class="navbar-title">Container Optimized OS</p>
  </div>
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/changelog/">Changelog</a>
    <a class="active" href="/locatebuild/">Locate Build</a>
    <a href="/login/">Login</a>
  </div>
  <div class="main">
    <h1>Locate Build with CL</h1>
    <form class="changelog-form" action="/locatebuild">
      <div class="text">
        {{if (ne .CL "")}}
          <input type="text" class="cl-input" name="cl" placeholder="CL-Number or Commit-SHA" value={{.CL}} autocomplete="off">
        {{else}}
          <input type="text" class="cl-input" name="cl" placeholder="CL-Number or Commit-SHA" autocomplete="off">
        {{end}}
        <input class="submit" type="submit" value="Submit"><br>
      </div>
      <div class="radio">
        {{if .Internal}}
          <label>
            <input type="radio" class="internal" name="internal" value="true" checked>
            Internal
          </label>
          <label>
            <input type="radio" class="external" name="internal" value="false">
            External
          </label>
        {{else}}
          <label>
            <input type="radio" class="internal" name="internal" value="true">
            Internal
          </label>
          <label>
            <input type="radio" class="external" name="internal" value="false" checked>
            External
          </label>
        {{end}}
      </div>
    </form>
    <div class="locate-build-result">
      {{if (ne .BuildNum "")}}
        <p><a href={{.GerritLink}} target="_blank">CL {{.CLNum}}</a> landed in build <b>{{.BuildNum}}</b>.</p>
      {{end}}
    </div>
  </div>
</body>
</html>