<html>
<head>
  <title>Login Required</title>
  <meta name="description" content="Google COS build information">
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <div class="navbar">
    <p class="navbar-title">Container Optimized OS</p>
    <a class="login" href="/login/?redirect={{.ActivePage}}">Login</a>
  </div>
  <div class="sidenav">
    <a href="/">Home</a>
    {{if (eq .ActivePage "/changelog/")}}
      <a class="active" href="/changelog/">Changelog</a>
    {{else}}
      <a href="/changelog/">Changelog</a>
    {{end}}
    {{if (eq .ActivePage "/findbuild/")}}
      <a class="active" href="/findbuild/">Find Build</a>
    {{else}}
      <a href="/findbuild/">Find Build</a>
    {{end}}
  </div>
  <div class="main">
    <div class="text-content">
      <h1>Please sign in to use this feature</h1>
      <p>This application requires OAuth authentication to communicate with Google Git repositories. Your account data
        will not be used for any other purposes. To continue, please sign in by clicking 
        <a href="/login/?redirect={{.ActivePage}}">here</a>.
      </p>
    </div>
  </div>
</body>
</html>